!!!
%head
  %title
    = data.page.title || 'Middleman Boilerplate'
    |
    = data.page.sitename


  = partial 'meta'
  = partial 'link'

  - if data.page.url.present?
    %link{href: (data.page.url + current_page.url), rel: 'canonical'}


  = stylesheet_link_tag 'all'
  = javascript_include_tag 'compatibility'
  -# = javascript_include_tag 'plugins/loading'


  %body.wrap.push{class: (data.page.custom_class.blank? ? page_classes : page_classes + ' ' + data.page.custom_class)}
    %main.main{role: 'main'}
      = partial 'top_bar'
      = yield
      = partial 'footer'
      = partial 'google_maps'


    = javascript_include_tag 'application', defer: true, async: true
