---
title: City Commission
description: Cooling, Crane-Lifts, and Electric services—let us help you with your next project. Visit our page.
keywords: cooling, crane-lift, electraic services, quick cranes, general contractors
sitename: City of Elsa
url: http://www.cityofelsa.com
---

.city-commission-container
  %header
    #particles-js
    .header-container
      %h1 City Commission
      %h5 Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit.
  %section.city-counil-staff
    %h3 City Counil Staff
    %hr
    .city-member
      = image_tag 'city-commission/alonso-perez-img.png'
      %h3 Alonso Perez
      %h5 Honorable Mayor
      -# = link_to 'LEARN MORE', '#'
      -# = image_tag 'city-commission/right-arrow.svg'
    .city-member
      = image_tag 'city-commission/victor-hernandez-img.png'
      %h3 Victor Hernandez
      %h5 Mayor Pro Team
      -# = link_to 'LEARN MORE', '#'
      -# = image_tag 'city-commission/right-arrow.svg'
    .city-member
      = image_tag 'city-commission/daniel-marichalar-img.png'
      %h3 Daniel Marichalar
      %h5 Commissioner Place 1
      -# = link_to 'LEARN MORE', '#'
      -# = image_tag 'city-commission/right-arrow.svg'
    .city-member
      = image_tag 'city-commission/ricardo-sanchez-img.png'
      %h3 Ricardo Sanchez
      %h5 Commissioner Place 1
      -# = link_to 'LEARN MORE', '#'
      -# = image_tag 'city-commission/right-arrow.svg'
    .city-member
      = image_tag 'city-commission/david-sanchez-img.png'
      %h3 David Sanchez
      %h5 Commissioner Place 1
      -# = link_to 'LEARN MORE', '#'
      -# = image_tag 'city-commission/right-arrow.svg'
  %section.agenda-minutes
    %h3 Agenda &amp; Minutes
    %hr
    %ul
      %li
        %a{:href => "#"}
          = image_tag 'city-commission/agenda-icon.svg'
          %h5 Agenda 1
      %li
        %a{:href => "#"}
          = image_tag 'city-commission/agenda-icon.svg'
          %h5 Agenda 2
      %li
        %a{:href => "#"}
          = image_tag 'city-commission/agenda-icon.svg'
          %h5 Agenda 3
      %li
        %a{:href => "#"}
          = image_tag 'city-commission/agenda-icon.svg'
          %h5 Agenda 4
      %li
        %a{:href => "#"}
          = image_tag 'city-commission/agenda-icon.svg'
          %h5 Agenda 5
      %li
        %a{:href => "#"}
          = image_tag 'city-commission/agenda-icon.svg'
          %h5 Agenda 6
    %h6 Contact City Hall to get agendas that are older than 6 months.
