---
title: Community
description: Cooling, Crane-Lifts, and Electric services—let us help you with your next project. Visit our page.
keywords: cooling, crane-lift, electraic services, quick cranes, general contractors
sitename: City of Elsa
url: http://www.cityofelsa.com
---
.community-container
  %header
    #particles-js
    .header-container
      %h1 Community
      %h5 Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit.
  %section.featured-events
    %h3 Featured Events
    %hr
    .event-content
      %h5 MAR 21, 2015
      %hr
      %h4 Elsa Music Country Festival
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      = link_to 'VIEW GALLERY', '#', {:class => 'active scroll-to-target', 'data-target' => 'slider-1'}
      = image_tag 'city-commission/right-arrow.svg'
    .event-content
      %h5 MAR 21, 2015
      %hr
      %h4 Elsa Music Country Festival
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      = link_to 'VIEW GALLERY', '#', {:class => 'scroll-to-target', 'data-target' => 'slider-2'}
      = image_tag 'city-commission/right-arrow.svg'
    .event-content
      %h5 MAR 21, 2015
      %hr
      %h4 Elsa Music Country Festival
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      = link_to 'VIEW GALLERY', '#', {:class => 'scroll-to-target', 'data-target' => 'slider-3'}
      = image_tag 'city-commission/right-arrow.svg'
  %section.sliders
    .slider.owl-carousel.current#slider-1
      .image{style: "background: url('assets/images/community/slide-img.jpg') no-repeat center center/cover"}
      .image{style: "background: url('assets/images/community/slide-img.jpg') no-repeat center center/cover"}
      .image{style: "background: url('assets/images/community/slide-img.jpg') no-repeat center center/cover"}
    .slider.owl-carousel#slider-2
      .image{style: "background: url('assets/images/community/slide-img.jpg') no-repeat center center/cover"}
      .image{style: "background: url('assets/images/community/slide-img.jpg') no-repeat center center/cover"}
      .image{style: "background: url('assets/images/community/slide-img.jpg') no-repeat center center/cover"}
    .slider.owl-carousel#slider-3
      .image{style: "background: url('assets/images/community/slide-img.jpg') no-repeat center center/cover"}
      .image{style: "background: url('assets/images/community/slide-img.jpg') no-repeat center center/cover"}
      .image{style: "background: url('assets/images/community/slide-img.jpg') no-repeat center center/cover"}
  %section.calendar
    %h3 Calendar
    %hr
    = image_tag 'city-commission/agenda-triangle.svg'
    .calendar-embedd
      %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://calendar.google.com/calendar/embed?showTitle=0&height=600&wkst=1&bgcolor=%23ffffff&src=abelg%40createthebridge.com&color=%2329527A&ctz=America%2FChicago", :style => "border-width:0", :width => "960"}
  %section.city-info-container
    .city-info
      .vital-statistics
        %h3 Vital Statistics
        %hr
        %ul
          %h5.padding-bottom Total Population (2014)
          %span 6617
          %li
            %h5 Male population
            %span 2,745
          %li
            %h5 Female population
            %span 2,915
          %li
            %h5 Median age (years)
            %span 31.6
          %li
            %h5 White Population
            %span 4,687
          %li
            %h5 Black Population
            %span 43
          %li
            %h5 Indian Population
            %span 19
          %li
            %h5 Asian Population
            %span 3
          %li
            %h5 Hawaiian Population
            %span 0
          %li
            %h5 Hispanic Population
            %span 5,535
          %li
            %h5 Median age (Male)
            %span 28.7
          %li
            %h5 Median age (Female)
            %span 34.4
        %ul
          %h5.padding-bottom Total households
          %span 1,731
          %li
            %h5 Family households (families)
            %span 1,365
          %li
            %h5 Average household size
            %span 3.27
          %li
            %h5 Average family size
            %span 3.76
          %li
            %h5 Total housing units
            %span 2154
        %ul
          %h5.padding-bottom Education
          %h6 Percent high school graduate or higher
          %span 51.5%
          %li
            %h5 Number of Companies
            %span 786
          %li
            %h5 Median Household Income
            %span 22,298

      .city-history
        %h3 City History
        %hr
        %h3 Department information becauseit’s important to mention. Lorem ipsum dolor sit amet, consectetur.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
