---
title: EDC - IDC
description: Cooling, Crane-Lifts, and Electric services—let us help you with your next project. Visit our page.
keywords: cooling, crane-lift, electraic services, quick cranes, general contractors
sitename: City of Elsa
url: http://www.cityofelsa.com
---
.edc-idc-container
  %header
    #particles-js
    .header-container
      %h1 EDC - IDC
      %h5 Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit.
  %section.mission-statement
    %ul
      %li.tab
        = link_to 'EDC Mission Statement', '#', {:class => 'active', 'data-target' => 'edc-mission-statement'}
      %li.tab
        = link_to 'IDC Mission Statement', '#', {'data-target' => 'idc-mission-statement'}
    .statement.current#edc-mission-statement
      %h3 EDC Mission Statement
      %hr
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .statement#idc-mission-statement
      %h3 IDC Mission Statement
      %hr
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  %section.featured-new-project.owl-carousel
    .featured-project
      %h3 Featured New Projects
      %hr
      = image_tag 'edc/featured-project-1.jpg'
      %h4 Project title
      %hr
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %ul
        %li
          %h6 Investment
          %hr
          %h4 $40,000
        %li
          %h6 Jobs Created
          %hr
          %h4 100
        %li
          %h6 Time Created
          %hr
          %h4 4 months
        %li
          %h6 Investment
          %hr
          %h4 $40,000
        %li
          %h6 Investment
          %hr
          %h4 $40,000
      %h6 Gallery
      %hr
      .image-parent-container
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
    .featured-project
      %h3 Featured New Projects
      %hr
      = image_tag 'edc/featured-project-1.jpg'
      %h4 Project title
      %hr
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %ul
        %li
          %h6 Investment
          %hr
          %h4 $40,000
        %li
          %h6 Jobs Created
          %hr
          %h4 100
        %li
          %h6 Time Created
          %hr
          %h4 4 months
        %li
          %h6 Investment
          %hr
          %h4 $40,000
        %li
          %h6 Investment
          %hr
          %h4 $40,000
      %h6 Gallery
      %hr
      .image-parent-container
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
    .featured-project
      %h3 Featured New Projects
      %hr
      = image_tag 'edc/featured-project-1.jpg'
      %h4 Project title
      %hr
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %ul
        %li
          %h6 Investment
          %hr
          %h4 $40,000
        %li
          %h6 Jobs Created
          %hr
          %h4 100
        %li
          %h6 Time Created
          %hr
          %h4 4 months
        %li
          %h6 Investment
          %hr
          %h4 $40,000
        %li
          %h6 Investment
          %hr
          %h4 $40,000
      %h6 Gallery
      .image-parent-container
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
        %a{:href => "assets/images/edc/event-img-th.jpg"}
          = image_tag 'edc/event-img-th.jpg'
  %section.quick-facts
    .quick-facts-container
      %h3 Quick Facts
      %hr
      .quick-facts-map
        = image_tag 'edc/quick-facts-map.png'
      %ul
        %li
          = image_tag 'edc/fa-plus.svg'
          %p 15 minutes to Interstate 2
        %li
          = image_tag 'edc/fa-plus.svg'
          %p 15 minutes to Interstate 69 C
        %li
          = image_tag 'edc/fa-plus.svg'
          %p Less than 15 miles from U.S. and Mexico boarder
        %li
          = image_tag 'edc/fa-plus.svg'
          %p 30,000 people in 5 sq. mi. radius
        %li
          = image_tag 'edc/fa-plus.svg'
          %p Development incentives available
  %section.start-business
    %h3 Start a business in Elsa.
    %hr
    %h6 WORK WITH US
    .business-content
      = image_tag 'edc/business-img.jpg'
      %h5 Shovel Ready Sites
    .business-content
      = image_tag 'edc/business-img.jpg'
      %h5 Turn Key Properties
    .business-content
      = image_tag 'edc/business-img.jpg'
      %h5 Renovation & Remediation
    %h3 Resources
    %hr
    .business-content
      = image_tag 'edc/business-img.jpg'
      %h5 Beautification
    .business-content
      = image_tag 'edc/business-img.jpg'
      %h5 Texas Open For Business
    .business-content
      = image_tag 'edc/business-img.jpg'
      %h5 Housing Programs
