---
title: Departments
description: Cooling, Crane-Lifts, and Electric services—let us help you with your next project. Visit our page.
keywords: cooling, crane-lift, electraic services, quick cranes, general contractors
sitename: City of Elsa
url: http://www.cityofelsa.com
---
.visitor-container
  %header
    #particles-js
    .header-container
      %h1 Visitors
      %h5 Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit.
  %section.body-content
    .visitor-content
      .visitor-section
        %h3 Parks
        %hr
        .visitor-destination
          = image_tag 'visitors/vistors-img.jpg'
          %h4 Elsa Park
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          = link_to 'LEARN MORE', '#'
          = image_tag 'city-commission/right-arrow.svg'
        .visitor-destination
          = image_tag 'visitors/vistors-img.jpg'
          %h4 Elsa Park
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          = link_to 'LEARN MORE', '#'
          = image_tag 'city-commission/right-arrow.svg'
        .visitor-destination
          = image_tag 'visitors/vistors-img.jpg'
          %h4 Elsa Park
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          = link_to 'LEARN MORE', '#'
          = image_tag 'city-commission/right-arrow.svg'
      .visitor-section
        %h3 Restaurants
        %hr
        .visitor-destination
          = image_tag 'visitors/vistors-img.jpg'
          %h4 Restaurant
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          = link_to 'LEARN MORE', '#'
          = image_tag 'city-commission/right-arrow.svg'
        .visitor-destination
          = image_tag 'visitors/vistors-img.jpg'
          %h4 Restaurant
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          = link_to 'LEARN MORE', '#'
          = image_tag 'city-commission/right-arrow.svg'
        .visitor-destination
          = image_tag 'visitors/vistors-img.jpg'
          %h4 Restaurant
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          = link_to 'LEARN MORE', '#'
          = image_tag 'city-commission/right-arrow.svg'
    .quick-links
      %h3 Quick Links
      %hr
      %ul
        %li
          %a{:href => "#"}
            %h5.active Parks
            = image_tag 'city-commission/right-arrow.svg'
        %li
          %a{:href => "#"}
            %h5 Restaurants
            = image_tag 'city-commission/right-arrow.svg'
        %li
          %a{:href => "#"}
            %h5 Libraries
            = image_tag 'city-commission/right-arrow.svg'
        %li
          %a{:href => "#"}
            %h5 Nearby Attractions
            = image_tag 'city-commission/right-arrow.svg'
        %li
          %a{:href => "#"}
            %h5 Shopping
            = image_tag 'city-commission/right-arrow.svg'
        %li
          %a{:href => "#"}
            %h5 Groceries
            = image_tag 'city-commission/right-arrow.svg'
        %li
          %a{:href => "#"}
            %h5 Entertainment
            = image_tag 'city-commission/right-arrow.svg'
