---
title: City Commission
handle: city-commission
---

{% extends 'layout' %}

{% block main %}

  <div class='city-commission-container'>

    {% block 'header' %}

      <header style="background-image: url({% editable_file 'banner' %}/samples/city-commission/city-commission-img.jpg{% endeditable_file %})">
        <div id='particles-js'></div>
        <div class='header-container'>
          <h1>{% editable_text 'heading' %}City Commission{% endeditable_text %}</h1>
          <h5>{% editable_text 'sub-heading' %}Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit.{% endeditable_text %}</h5>
        </div>
      </header>

    {% endblock %}

    {% block 'city_council' %}

      <section class='city-counil-staff'>
        <h3>{% editable_text 'heading' %}City Counil Staff{% endeditable_text %}</h3>
        <hr>

        {% for member in contents.council_members %}
          <div class="city-member">
            {{ member.picture.url | image_tag }}

            <h3>{{member.name}}</h3>
            <h5>{{member.title}}</h5>
          </div>
        {% endfor %}

      </section>

    {% endblock %}
    <section class='agenda-minutes'>
      <h3>Agenda &amp; Minutes</h3>
      <hr>
      <ul>
        {% for agenda in contents.agendas %}
          <li>
            <a href="{{agenda.pdf.url}}" target="_blank">
              <img src="{{ 'city-commission/agenda-icon.svg' | theme_image_url }}" />
              <h5>{{agenda.name}}</h5>
            </a>
          </li>
        {% endfor %}
      </ul>
      <h6>Contact City Hall to get agendas that are older than 6 months.</h6>
    </section>
  </div>

{% endblock %}
