---
title: Community
handle: community
---

{% extends 'layout' %}

{% block 'css-override' %}
  <style type="text/css">
    .locomotive-editable-text {
      right: 0 !important;
      position: relative !important;
    }
  </style>
{% endblock %}

{% block main %}

  <div class='community-container'>

    {% block 'header' %}


      <header style="background-image: url({% editable_file 'banner' %}/samples/community/community-img.jpg{% endeditable_file %})">
        <div id='particles-js'></div>
        <div class='header-container'>
          <h1>{% editable_text 'heading' %}Community{% endeditable_text %}</h1>
          <h5>{% editable_text 'sub-heading' %}Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit.{% endeditable_text %}</h5>
        </div>
      </header>


    {% endblock %}

    {% block 'featured_events' %}

      <section class='featured-events'>
        <h3>{% editable_text 'label' %}Featured Events{% endeditable_text %}</h3>
        <hr>

        {% for event in contents.featured_events %}
          <div class="event-content">
            <h5>{{ event.event_date | date: '%B %d, %Y'}}</h5>
            <hr>
            <h4>{{ event.title }}</h4>
            <p>{{ event.description }}</p>
            <a class="view-gallery active scroll-to-target" data-target="{{ event._slug }}" href="#">VIEW GALLERY</a>
            <img src="{{ 'city-commission/right-arrow.svg' | theme_image_url }}" />
          </div>
        {% endfor %}

      </section>

    {% endblock %}

    <section class='sliders'>

      {% for event in contents.featured_events %}
        <div id="{{ event._slug }}" class="slider owl-carousel">
          {% for slide in event.slides %}
            <div class="image" style="background: url({{ slide.image.url }}) no-repeat center center/cover"></div>
          {% endfor %}
        </div>
      {% endfor %}

    </section>


    {% block 'calendar' %}

      <section class='calendar'>
        <h3>{% editable_text 'label' %}Calendar{% endeditable_text %}</h3>
        <hr>
        <img src="{{ 'city-commission/agenda-triangle.svg' | theme_image_url }}" />
        <div class='calendar-embedd'>
          <iframe frameborder='0' height='600' scrolling='no' src='https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=abelg%40createthebridge.com&amp;color=%2329527A&amp;ctz=America%2FChicago' style='border-width:0' width='960'></iframe>
        </div>
      </section>

    {% endblock %}

    <section class='city-info-container'>
      <div class='city-info'>
        {% block 'vital_statistics' %}
          <div class='vital-statistics'>
            <h3>Vital Statistics</h3>
            <hr>
            <ul>
              {% capture year %}{% editable_text 'year' %}2014{% endeditable_text %}{% endcapture %}
              <h5 class="padding-bottom">Total Population ({{ year }})</h5>
              <span>{% editable_text 'population' %}6617{% endeditable_text %}</span>
              <li>
                <h5>Male population</h5>
                <span>{% editable_text 'male_population' %}2,745{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Female population</h5>
                <span>{% editable_text 'female_population' %}2,915{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Median age (years)</h5>
                <span>{% editable_text 'median_age' %}31.6{% endeditable_text %}</span>
              </li>
              <li>
                <h5>White Population</h5>
                <span>{% editable_text 'white_population' %}4,687{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Black Population</h5>
                <span>{% editable_text 'black_population' %}43{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Indian Population</h5>
                <span>{% editable_text 'indian_population' %}19{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Asian Population</h5>
                <span>{% editable_text 'asian_population' %}3{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Hawaiian Population</h5>
                <span>{% editable_text 'hawaiian_population' %}0{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Hispanic Population</h5>
                <span>{% editable_text 'hispanic_population' %}5,535{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Median age (Male)</h5>
                <span>{% editable_text 'median_age_male'%}28.7{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Median age (Female)</h5>
                <span>{% editable_text 'median_age_female' %}34.4{% endeditable_text %}</span>
              </li>
            </ul>
            <ul>
              <h5 class='padding-bottom'>Total households</h5>
              <span>{% editable_text 'total_households' %}1,731{% endeditable_text %}</span>
              <li>
                <h5>Family households (families)</h5>
                <span>{% editable_text 'family_households' %}1,365{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Average household size</h5>
                <span>{% editable_text 'average_household_size' %}3.27{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Average family size</h5>
                <span>{% editable_text 'average_family_size'%}3.76{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Total housing units</h5>
                <span>{% editable_text 'total_housing_units' %}2154{% endeditable_text %}</span>
              </li>
            </ul>
            <ul>
              <h5 class='padding-bottom'>Education</h5>
              <h6>Percent high school graduate or higher</h6>
              <span>{% editable_text 'house_school_graduate_percentage' %}51.5%{% endeditable_text %}</span>
              <li>
                <h5>Number of Companies</h5>
                <span>{% editable_text 'companies' %}786{% endeditable_text %}</span>
              </li>
              <li>
                <h5>Median Household Income</h5>
                <span>{% editable_text 'median_household_income' %}22,298{% endeditable_text %}</span>
              </li>
            </ul>
          </div>
        {% endblock %}

        {% block 'city_history' %}
          <div class='city-history'>
            <h3>City History</h3>
            <hr>
            <h3>{% editable_text 'heading' %}Department information becauseit’s important to mention. Lorem ipsum dolor sit amet, consectetur.{% endeditable_text %}</h3>
            {% editable_text 'history' %}
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            {% endeditable_text %}
          </div>
        {% endblock %}
      </div>
    </section>
  </div>


{% endblock %}



{% block 'js-override' %}

  <script type="text/javascript">
    $(document).ready(function() {
      $('.view-gallery').first().trigger('click');
    });

  </script>

{% endblock %}
