---
title: Contact
handle: contact
---

{% extends 'layout' %}

{% block main %}

  <div class='contact-container'>

    {% block 'header' %}
      <header style="background-image: url({% editable_file 'banner' %}/samples/contact/contact-us-img.jpg{% endeditable_file %})">
        <div id='particles-js'></div>
        <div class='header-container'>
          <h1>{% editable_text 'heading' %}Contact Us{% endeditable_text %}</h1>
          <h5>{% editable_text 'sub-heading' %}Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit. {% endeditable_text %}</h5>
        </div>
      </header>
    {% endblock %}

    <section class='body-content'>
      <div class='contact-content'>
        <h3>Send Us an Email!</h3>
        <hr>
        <form data-send-to='luisedtr@createthebridge.com' id='contact-form'>
          <div class='input-group'>
            <span>
              <label>
                <span>
                  NAME
                </span>
              </label>
              <input data-merge-var='FNAME' data-required='' id='name' name='name' type='text'>
            </span>
            <span>
              <label>
                <span>
                  PHOME
                </span>
              </label>
              <input data-merge-var='PHONE' data-required='' id='phone' name='phone' type='tel'>
            </span>
            <span>
              <label>
                <span>
                  EMAIL ADDRESS
                </span>
              </label>
              <input data-merge-var='EMAIL' data-required='' id='email' name='email' type='email'>
            </span>
            <span>
              <label>
                <span>
                  MESSAGE
                </span>
              </label>
              <textarea data-merge-var='MSG' data-required='' form='form' id='message' name='message'></textarea>
            </span>
          </div>
          <div class='response-template' style='display: none'>
            You have received a contact form submission from {{FNAME}}
            <br>
            <br>
            Name: {{FNAME}}
            <br>
            Phone: {{PHONE}}
            <br>
            Company: {{EMAIL}}
            <br>
            <br>
            {{MSG}}
          </div>
          <input class='button' type='submit' value='SUBMIT'>
        </form>
      </div>
      <div class='quick-links'>
        <h3>Directory</h3>
        <hr>
        <ul>
          {% for listing in contents.directory_listings %}
            <li>
              <div>
                <h5>{{listing.name}}</h5>
                <h6>{{listing.phone_number}}</h6>
              </div>
            </li>
          {% endfor %}
          
        </ul>
      </div>
    </section>
    <section>
      <div id='google-map'>
        <div class='map'></div>
      </div>
    </section>
  </div>

{% endblock %}
