---
title: EDC - IDC
handle: edc-idc
position: 5
---
{% extends 'layout' %}

{% block 'css-override' %}
  <style type='text/css'>

    .edc-idc-container .featured-new-project hr:last-of-type {
      border-bottom-color: inherit;
    }

    .edc-idc-container .featured-new-project ul li hr {
      border-bottom-color: rgb(0, 169, 157) !important;
    }

    .edc-idc-container .featured-new-project li,
    .edc-idc-container .featured-new-project li:last-of-type {
      float: none;
    }

    .edc-idc-container .featured-new-project .image-parent-container a:last-of-type {
      float: left;
    }

  </style>
{% endblock %}

{% block main %}

  <div class='edc-idc-container'>

    {% block 'header' %}

      <header style="background-image: url({% editable_file 'banner' %}/samples/edc/edc-header-img.jpg{% endeditable_file %})">
        <div id='particles-js'></div>
        <div class='header-container'>
          <h1>{% editable_text 'heading' %}EDC - IDC{% endeditable_text %}</h1>
          <h5>{% editable_text 'sub-heading' %}Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit.{% endeditable_text %}</h5>
        </div>
      </header>

    {% endblock %}

    {% block 'mission_statement' %}

      <section class='mission-statement'>
        <ul>
          <li class='tab'>
            <a class="active" data-target="edc-mission-statement" href="#">EDC Mission Statement</a>
          </li>
          <li class='tab'>
            <a data-target="idc-mission-statement" href="#">IDC Mission Statement</a>
          </li>
        </ul>
        <div class='statement current' id='edc-mission-statement'>
          <h3>EDC Mission Statement</h3>
          <hr>
          <p>{% editable_text 'edc_statement' %}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endeditable_text %}</p>
        </div>
        <div class='statement' id='idc-mission-statement'>
          <h3>IDC Mission Statement</h3>
          <hr>
          <p>{% editable_text 'idc_statement' %}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endeditable_text %}</p>
        </div>
      </section>

    {% endblock %}

    <section class='featured-new-project owl-carousel'>
      {% for project in contents.projects %}
        <div class="featured-project">
          <h3>Featured New Projects</h3>
          <hr>
          {{ project.header_image.url | image_tag }}
          <h4>{{project.name}}</h4>
          <hr>
          <p>{{project.description}}</p>
          <ul>
            {% for point in project.project_data_points %}
              <li>
                <h6>{{point.name}}</h6>
                <hr>
                <h4>{{point.content}}</h4>
              </li>
            {% endfor %}
          </ul>
          <h6>Gallery</h6>
          <div class="image-parent-container">
            {% for gallery_image in project.gallery_images %}
              <a href="{{gallery_image.image.url}}">
                {{ gallery_image.image.url | image_tag }}
              </a>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </section>
    <section class='quick-facts'>
      <div class='quick-facts-container'>
        <h3>Quick Facts</h3>
        <hr>
        <div class='quick-facts-map'>
          <img src="{{ 'edc/quick-facts-map.png' | theme_image_url }}" />
        </div>
        <ul>
          <li>
            <img src="{{ 'edc/fa-plus.svg' | theme_image_url }}" />
            <p>15 minutes to Interstate 2</p>
          </li>
          <li>
            <img src="{{ 'edc/fa-plus.svg' | theme_image_url }}" />
            <p>15 minutes to Interstate 69 C</p>
          </li>
          <li>
            <img src="{{ 'edc/fa-plus.svg' | theme_image_url }}" />
            <p>Less than 15 miles from U.S. and Mexico boarder</p>
          </li>
          <li>
            <img src="{{ 'edc/fa-plus.svg' | theme_image_url }}" />
            <p>30,000 people in 5 sq. mi. radius</p>
          </li>
          <li>
            <img src="{{ 'edc/fa-plus.svg' | theme_image_url }}" />
            <p>Development incentives available</p>
          </li>
        </ul>
      </div>
    </section>
    <section class='start-business'>
      <h3>Start a business in Elsa.</h3>
      <hr>
      <h6>WORK WITH US</h6>
      <div class='business-content'>
        <img src="{{ 'edc/business-img.jpg' | theme_image_url }}" />
        <h5>Shovel Ready Sites</h5>
      </div>
      <div class='business-content'>
        <img src="{{ 'edc/business-img.jpg' | theme_image_url }}" />
        <h5>Turn Key Properties</h5>
      </div>
      <div class='business-content'>
        <img src="{{ 'edc/business-img.jpg' | theme_image_url }}" />
        <h5>Renovation & Remediation</h5>
      </div>
      <h3>Resources</h3>
      <hr>
      <div class='business-content'>
        <img src="{{ 'edc/business-img.jpg' | theme_image_url }}" />
        <h5>Beautification</h5>
      </div>
      <div class='business-content'>
        <img src="{{ 'edc/business-img.jpg' | theme_image_url }}" />
        <h5>Texas Open For Business</h5>
      </div>
      <div class='business-content'>
        <img src="{{ 'edc/business-img.jpg' | theme_image_url }}" />
        <h5>Housing Programs</h5>
      </div>
    </section>
  </div>


{% endblock %}
