---
title: Visitors
handle: visitor
---

{% extends 'layout' %}

{% block 'css-override' %}
  <style type="text/css">
    .visitor-section { display: none; }
    .visitor-section.current { display: block; }
  </style>
{% endblock %}


{% block main %}
  <div class='visitor-container'>
    <header>
      <div id='particles-js'></div>
      <div class='header-container'>
        <h1>Visitors</h1>
        <h5>Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit.</h5>
      </div>
    </header>
    <section class='body-content'>
      <div class='visitor-content'>
        {% for listing in contents.attraction_listings %}
          <div id="{{listing._slug}}" class="visitor-section">
            <h3>{{listing.name}}</h3>
            <hr>
            {% for place in listing.attractions %}
              <div class="visitor-destination">
                {{ place.image.url | image_tag }}
                <h4>{{place.name}}</h4>
                <p>{{place.description}}</p>
                <a href="{{place.link}}" target="_blank">LEARN MORE</a>
                <img src="{{ 'city-commission/right-arrow.svg' | theme_image_url }}" />
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class='quick-links'>
        <h3>Quick Links</h3>
        <hr>
        <ul>
          {% for listing in contents.attraction_listings %}
            <li>
              <a href="#" data-target="{{listing._slug}}" class="listing-link">
                <h5>{{listing.name}}</h5>
                <img src="{{ 'city-commission/right-arrow.svg' | theme_image_url }}" />
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </div>
{% endblock %}


{% block 'js-override' %}
  <script type="text/javascript">
    $(document).ready(function() {

      $('.listing-link').first().trigger('click');

    });
  </script>
{% endblock %}
